<h1>Contacto</h1>
<form method="post" class="row">
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Contenido</label>
        <textarea name="contenido" required class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Enviar</button>
    </div>
</form>